$accent: dodgerblue;

* {
  font-family: Arial;
}

pre {
  font-family: Courier New;
  font-size: 0.8rem;
  background-color: darken(#fff, 3%);
  display: inline-block;
  margin: 0;
  padding: 1.5rem 4rem 1.5rem 1rem;
  box-shadow: inset 0 0 0.25rem #666;
}

textarea {
  font-size: 0.8rem;
}

a, a:visited {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 1rem 0;
}

.subtitle {
  font-weight: normal;
  font-size: 1.25rem;
  margin-top: 0;
}

table.fittings {
  margin-bottom: 2rem;

  tr:first-child > th {
    padding-top: 0;
  }

  th {
    text-align: left;
    padding-top: 2rem;
  }
}

table.staged-fittings {
  margin-bottom: 1rem;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 0.5rem;
    text-decoration: underline;
    font-weight: normal;
  }

  td {
    padding: 0.5rem;

    &:first-child {
      padding-right: 1rem;
    }

    &:last-child {
      text-align: right;
      input {
        text-align: right;
      }
    }

    &.add-staged-fitting:last-child {
      text-align: left;
    }
  }
}

form {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-top: 0.5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.staged-fitting-quantity {
  width: 2rem;
}

.actions {
  margin-top: 1rem;
}

.links {
  margin-top: 1rem;
  clear: both;
}

ul {
  list-style-type: none;
  padding: 0;
}
